@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: #DBEAFE;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sidebar {
    height: 100vh;
    background-color: #00163B;
    color: #fff;
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000; 
}

.sidebar a {
    color: #adb5bd;
    text-decoration: none;
    display: block;
    padding: 15px;
}

.sidebar a:hover {
    color: #007bff; /* Cambia el color a azul al pasar el cursor */
}

.sidebar .active {
    background-color: #00ACBA;
    color: #00163B;
}

.sidebar h4:hover {
    color: #007bff;
    cursor: pointer; /* Opcional: Cambia el cursor a una mano cuando se pasa por encima */
}


.main-content {
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
}

.card-header {
    background-color: #00163B;
    color: #FFF;
}

.card {
    margin-bottom: 20px;
}

.icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.overview-card {
    padding: 10px;
    color: #fff;
}

.overview-card h5 {
    font-size: 1.2rem;
}

.navbar {
    margin-left: 250px;
    background-color: #fff;
    transition: margin-left 0.3s ease-in-out;
}

.navbar .navbar-brand {
    color: #000F29;
}

.navbar .navbar-brand:hover {
    color: #00163B;
}

.navbar .form-control {
    background-color: #DBEAFE;
    color: #fff;
}

.bg-cero {
    background-color: #00163B;
}

.bg-one {
    background-color: #6599FF;
}

.bg-two {
    background-color: #48DAB3;
}

.bg-three {
    background-color: #22B8F7;
}

.bg-four {
    background-color: #8565FE;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }
    .sidebar.show {
        transform: translateX(0);
    }
    .main-content, .navbar {
        margin-left: 0;
    }
    .navbar {
        margin-right: 0;
    }
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.crud-icons i {
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 5px;
}

.crud-icons i:hover {
    color: #000;
}

/* Estilos para la lista de elementos no ordenados */
ul {
    padding: 0;
}

ul li {
    list-style: none;
}

ul li a {
    color: inherit; /* Color de texto inicial (puede ser el color por defecto del tema) */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

ul li a:hover {
    color: #007bff; /* Color azul cuando se pasa el cursor */
}
